@font-face {
    font-family: 'pokemon';
    src: url(../font/pkmndp.ttf);
}

@font-face {
    font-family: 'pokemon-titulo';
    src: url(../font/pkmndpb.ttf);
}

body {
    background-image: url(../img/Pokemon-Rotom-Dex-4k-Live-Wallpaper.gif);
    background-size: 100%;
    background-attachment: fixed;
}

.font-text {
    font-family: pokemon;
}

.font-title {
    font-family: pokemon-titulo;
}

.titulo-pagina {
    font-size: 52px;
}

.titulo-tarjeta {
    font-size: 36px;
}

.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}

.nav-item .nav-link {
    font-family: pokemon;
    font-size: 16px;
    color: black;
}

/*Para usar las etiquetas crea un div con el nombre de una de las clases principales (etiqueta-...) 
y las secundarias para el color (et-...)*/

/*Etiquetas principales*/
.etiqueta-peq {
    font-family: pokemon;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    margin: 3px;
}

.etiqueta-gra {
    font-family: pokemon;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    margin: 3px;
}

.etiqueta-width-max {
    font-family: pokemon;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    margin: 3px;
}

/*Etiquetas secundarias o de colores*/
.et-grass {
    background-color: #3fa129;
    color: white;
}

.et-water {
    background-color: #2980ef;
    color: white;
}

.et-steel {
    background-color: #60a1b8;
    color: white;
}

.et-bug {
    background-color: #91a119;
    color: white;
}

.et-dragon {
    background-color: #5061e1;
    color: white;
}

.et-electric {
    background-color: #fac000;
    color: white;
}

.et-ghost {
    background-color: #704170;
    color: white;
}

.et-fire {
    background-color: #e62829;
    color: white;
}

.et-fairy {
    background-color: #ef71ef;
    color: white;
}

.et-ice {
    background-color: #3fd8ff;
    color: white;
}

.et-fighting {
    background-color: #ff8000;
    color: white;
}

.et-normal {
    background-color: #9fa19f;
    color: white;
}

.et-psychic {
    background-color: #ef4179;
    color: white;
}

.et-rock {
    background-color: #afa981;
    color: white;
}

.et-dark {
    background-color: #50413f;
    color: white;
}

.et-ground {
    background-color: #915121;
    color: white;
}

.et-poison {
    background-color: #8f41cb;
    color: white;
}

.et-flying {
    background-color: #81b9ef;
    color: white;
}

#lista-pokemon .card {
    margin-bottom: 20px;
}

.pokemon-image-container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card {
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
}

.card-footer {
    background-color: transparent;
    border-top: none;
}